.footer-main{
    background-color:#a1a1a1;
    position:relative;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    bottom:-8px;
    left:-8px;
    height:60px;
    width:100vw;
    margin-top:20px;
}
.disclaimer{
    font-family:"Rubik Mono One", monospace;
    color:white;
    text-align:center;
    display:flex;
    flex-direction:column;
    justify-content: center ;
    font-size:18px;
    width:100%;
    padding-inline:10px;


}





@media screen and (min-width:980px){
.footer-main{
    height:75px;

}

.disclaimer{
    font-size: 25px;
}


}