/* Style The Dropdown Button */
.dropbtn {
    background-color: #4f4f4f;
    color:#ffffff;
    font-size: 16px;
    min-width:140px ;
    cursor: pointer;
    padding:17px 10px 17px 10px ;
    border:none;
    z-index: 1;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: fixed;
    display:inline-block;
    top:0;
    left:0;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    text-align: center;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 999;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #d8d8d8
}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {
    background-color: #3e8e41;
  }
/* Style and position Header */
  .title{
    
    background-color:#6c6c6c;
    color:#ffffff;
    text-align: right;
    font-size: 24px;
    top:0;
    right:0;
    padding:12.5px 20px 12.5px 0px;
    width:100%;
    position:fixed;
    display:block;
}

.title a{
    color:#ffffff;
    text-decoration:none;
}