/*-Set to solid or none to toggle dev borders-*/

:root{
  --devb:none 1px #000000;
}


/*-Container for Header Bar-*/
.navcont{
  position:fixed;
  display:flex;
  flex-direction:row;
  justify-content:space-between;
  top:0;
  height:50px;
  width:100vw;
  left:0;
  background-color: #939393;
  border:var(--devb);
  font-family:'Times New Roman', Times, serif;
}

/*-Header Title -*/
.navtitle{
  display:flex;
  font-size:21px;
  position:fixed;
  height:50px;
  right:0;
  top:0;
  background-color: #939393;
  border:var(--devb);
  width:70%;
  max-height:50px;
  justify-content:center;
}

/*-Style The Header Title-*/
.navtitle a{
  position:relative;
  display:flex;
  color:#ffffff;
  text-decoration:none;
  border:var(--devb);
  padding-block:13.25px;
  text-align:center;
}

/* Style The Dropdown Button */
.dropbtn {
  display:flex;
  position:relative;
  width:30vw;
  height:50px;
  background-color:#4c4c4c;
  color:#ffffff;
  font-size: 15px;
  cursor: pointer;
  z-index: 1;
  border:none;
  padding-block:13.25px;
  border:var(--devb);
  justify-content: center;
}
  
/* The container <div> - needed to position the dropdown content */
.dropdown {
  position:fixed;
  display:flex;
  top:0;
  left:0;
  border:var(--devb);
  }
  
/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  text-align: center;
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 999;
  top:50px;
  border:var(--devb);
}
  
/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border:var(--devb);
}
  
/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #d8d8d8;
  border:var(--devb);
}
  
/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
  border:var(--devb);
}
  
/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #5e5e5e;
  border:var(--devb);
}






/*-Adjustment for desktop-*/

@media screen and (min-width:530px){
  .navcont{
    height:75px;
  }

 .dropdown{
  height:75px;
 }
 
 .dropbtn{
  height:75px;
  width:30vw;
 }

 .navtitle{
  height:75px;
 }











}